<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/ARR.png">
    {% include analytics_head.html %}

  </head>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var dropdowns = document.querySelectorAll('.dropdown');
      dropdowns.forEach(function (dropdown) {
        var dropbtn = dropdown.querySelector('.dropbtn');
        dropbtn.addEventListener('click', function (e) {
          e.preventDefault();
          dropdown.classList.toggle('active');
        });
        dropbtn.addEventListener('touchstart', function (e) {
          e.preventDefault();
          dropdown.classList.toggle('active');
        });
      });
    });
  </script>
  
  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <div class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">CFP & Submissions</a>
                <div class="dropdown-content">
                  <a href="{{ site.baseurl }}/reviewing">How ARR works</a>
                  <a href="{{ site.baseurl }}/cfp">Call for papers</a>
                  <a href="{{ site.baseurl }}/dates">Dates & Venues</a>
                  <a href="{{ site.baseurl }}/authorchecklist">⚠ Common problems with submissions</a>
                </div>
                </div>
              <!--a href="{{ site.baseurl }}/reviewing">Reviewing</a-->
              <div class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Guidelines</a>
                <div class="dropdown-content">
                  <a href="{{ site.baseurl }}/authors">Authors guidelines</a>   
                  <a href="{{ site.baseurl }}/responsibleNLPresearch">Responsible NLP checklist</a>                                 
                  <a href="{{ site.baseurl }}/reviewerguidelines">Reviewer guidelines</a>
                  <a href="{{ site.baseurl }}/acguidelines">Area Chair guidelines</a>
                </div>
                </div>
              <!-- <a href="{{ site.baseurl }}/aes">Action Editors</a> -->
         <!-- <a href="{{ site.baseurl }}/organizers">Venue Organizers</a> -->
               <!-- <a href="{{ site.baseurl }}/mentorship">Mentorship</a> -->

              <!-- <a href="{{ site.baseurl }}/people">People</a> -->
              <div class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">People</a>
                <div class="dropdown-content">
                  <a href="{{ site.baseurl }}/organization">ARR team</a>
                  <a href="{{ site.baseurl }}/saes">SACs</a>
                  <a href="{{ site.baseurl }}/aes">ACs</a>
                  <a href="{{ site.baseurl }}/reviewers">Reviewers</a>
                  <a href="{{ site.baseurl }}/others">Others</a>
                </div>
              </div>
              <div class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">ARR reporting</a>
                <div class="dropdown-content">
                  <a href="http://stats.aclrollingreview.org/">Statistics</a>
                  <a href="{{ site.baseurl }}/changelog">ARR changelog</a>
                  <a href="{{ site.baseurl }}/future">Future plans</a>
                </div>
                </div>
                <a href="https://openreview.net/group?id=aclweb.org/ACL/ARR">ARR@OpenReview</a>                
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
    <script>
  document.addEventListener('DOMContentLoaded', function () {
    var dropdown = document.querySelector('.dropdown');
    var dropbtn = document.querySelector('.dropbtn');

    dropbtn.addEventListener('click', function (e) {
      e.preventDefault();
      dropdown.classList.toggle('active');
    });
  });
</script>

<script>
  // source for this hack: https://thatgurjot.com/til/clickable-checkboxes-on-jekyll-hugo/
  // clickable checkboxes
const checkboxes = document.querySelectorAll('input[type="checkbox"]');
checkboxes.forEach(checkbox => {
// remove the disabled attribute; added by kramdown by default
checkbox.removeAttribute('disabled');
});
  </script>
  </body>
</html>
